@{
    ViewData["Title"] = $"{@ViewBag.Employee.FirstName} {@ViewBag.Employee.LastName}";
}
<h1>@ViewBag.Employee.FirstName @ViewBag.Employee.LastName</h1>
<form action="/deleteEmployee/@ViewBag.Employee.Id" method="POST">
    <input type="hidden" name="Id" value="@ViewBag.Employee.Id">
    <input class="deleteEE" type="submit" value="Remove Employee">
</form>


<div id="NeoInfo">
    <div class="neoControls">
        <h2>NEOs Invited To: @ViewBag.Employee.Completers.Count</h2>
    </div>
    <div class="neoControls">
        <h2>NEOs Attended: @ViewBag.Attened</h2>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>Neo Date</th>
            <th>Attended?</th>
            <th>Arrival Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Completer in ViewBag.Employee.Completers)
        {
            <tr>
                <td><a href="/neos/@Completer.Neo.Id">@Completer.Neo.Date.ToString("MMMMM dd, yyyy")</a></td>
                @if(@Completer.Attended == 1)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
                @if(@Completer.AttendedTime.TimeOfDay == TimeSpan.Zero)
                {
                    <td>N/A</td>
                }
                else
                {
                <td>@Completer.AttendedTime.ToString("h:mm tt")</td>
                }
            </tr>
        }
    </tbody>
</table>

<h2>Notes</h2>
<div id="NoteArea">

    <form asp-controller="Note" asp-action="AddNote" asp-route-id="@ViewBag.Employee.Id method="POST">
        <input type="hidden" name="Id" value="@ViewBag.Employee.Id">
        <textarea rows="7" cols="70" name="NoteContent">Add Note...</textarea>
        <input type="submit" value="Add Note">
    </form>
    @foreach(var Note in ViewBag.Notes)
    {
        <div class="Note">
            <p>@Note.CreatedAt.ToString("MMMMM dd, yyyy"):</p>
            <p>@Note.NoteMessage</p>
            <form asp-controller="Note" asp-action="DeleteNote" asp-route-id="@ViewBag.Employee.Id method="POST">
                <input type="hidden" name="EmployeeId" value="@ViewBag.Employee.Id">
                <input type="hidden" name="NoteId" value="@Note.Id">
                <input type="submit" value="Delete Note">
            </form>
        </div>
    }
    
</div>