<h1>All possible completers</h1>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Alias</th>
        <th>Cela</th>
        <th>Times Attended</th>
        <th>Last Time Attended</th>
        <th>Skipped</th>
        <th>OOF</th>
        <th>Update</th>
    </tr>
@foreach (var Employee in ViewBag.Employees)
{
    <tr>
        <td>@Employee.FirstName</td>
        <td>@Employee.LastName</td>
        <td>@Employee.Alias</td>
        <td>
            @if(@Employee.IsCela == 1)
            {
                <p>Yes</p>
            }
            else
            {
                <p>No</p>
            }
        </td>
        <td>@Employee.TimesAttended</td>
        <td>@Employee.LastAttended.ToString("MM-dd-yyyy")</td>
        <td>
            @if(@Employee.Skipped == 1)
            {
                <p>Yes</p>
            }
            else
            {
                <p>No</p>
            }
        </td>
        <td>
            @if(@Employee.OOF == 1)
            {
                <p>Yes</p>
            }
            else
            {
                <p>No</p>
            }
        </td>
        <td>
            <form action="Update" method="POST">
                <input type="hidden" name="Id" value="@Employee.Id">
                <input type="submit" value="Update they attended last NEO">
            </form>
        </td>
    </tr>
}
</table>