<h1>All possible completers</h1>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Attendees</th>
            <th>Invited</th>
            <th>Incompletes</th>
            <th>No Shows</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var Neo in ViewBag.Neos)
    {
        <tr>
            <td><a href="neos/@Neo.Id">@Neo.Date.ToString("MMMMM dd/yyyy")</a></td>
            <td>@Neo.Attendees</td>
            <td>@Neo.Completers.Count</td>
            <td>@Neo.Incompletes</td>
            <td>@Neo.NoShows</td>
        </tr>
    }
    </tbody>
</table>