@{
    ViewData["Title"] = $"{@ViewBag.Neo.Date.ToString("MMMMM dd/yyyy")}'s NEO";
}

<h1>@ViewBag.Neo.Date.ToString("MMMMM dd/yyyy")'s NEO</h1>

<div id="NeoInfo">
    <div>
        <h2>Attendees: @ViewBag.Neo.Attendees</h2>

        <form action="../updateAttendees/@ViewBag.Neo.Id" method="POST">
            <label for="attendees">Update Attendees:</label>
            <input class="inline" type="number" name="attendees">
            <input type="submit" value="Update">
        </form>
    </div>

    <div>
        <h2>Incompletes: @ViewBag.Neo.Incompletes</h2>

        <form action="../updateIncompletes/@ViewBag.Neo.Id" method="POST">
            <label for="incompletes">Update Incompletes:</label>
            <input class="inline" type="number" name="incompletes">
            <input type="submit" value="Update">
        </form>
    </div>

    <div>
        <h2>No Shows: @ViewBag.Neo.NoShows</h2>

        <form action="../updateNoShows/@ViewBag.Neo.Id" method="POST">
            <label for="noShows">Update No Shows:</label>
            <input class="inline" type="number" name="noShows">
            <input type="submit" value="Update">
        </form>
    </div>
</div>

<h2>Invited Completers:</h2>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Alias</th>
            <th>Organization</th>
            <th>Times Attended</th>
            <th>Last Time Attended</th>
            <th>Skipped</th>
            <th>OOF</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var Employee in ViewBag.Completers)
    {
        <tr>
            <td>@Employee.FirstName</td>
            <td>@Employee.LastName</td>
            <td>@Employee.Alias</td>
            @if(@Employee.IsCela == 1)
            {
                <td>CELA</td>
            }
            else if(@Employee.IsCelaVendor == 1)
            {
                <td>Cela Vendor</td>
            }
            else
            {
                <td>Robert Half</td>
            }
            <td>@Employee.TimesAttended</td>
            <td>@Employee.LastAttended.ToString("MMMMM dd/yyyy")</td>
            @if(@Employee.Skipped == 1)
            {
                <td>Yes</td>
            }
            else
            {
                <td>No</td>
            }
            @if(@Employee.OOF == 1)
            {
                <td>Yes</td>
            }
            else
            {
                <td>No</td>
            }
            <td>
                <form action="../Attended/@ViewBag.Neo.Id" method="POST">
                    <input type="hidden" name="Id" value="@Employee.Id">
                    <input type="submit" value="Attended">
                </form>
                <form action="../Skipped/@ViewBag.Neo.Id" method="POST">
                    <input type="hidden" name="Id" value="@Employee.Id">
                    <input type="submit" value="Skipped">
                </form>
                <form action="../OOF/@ViewBag.Neo.Id" method="POST">
                    <input type="hidden" name="Id" value="@Employee.Id">
                    <input type="submit" value="OOF">
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>