@{
    ViewData["Title"] = $"{@ViewBag.Neo.Date.ToString("MMMMM dd/yyyy")}'s NEO";
}

<h1>@ViewBag.Neo.Date.ToString("MMMMM dd/yyyy")'s NEO</h1>

<div id="NeoInfo">
    <div class="neoControls">
        <h2>Attendees: @ViewBag.Neo.Attendees</h2>

        <form action="../updateAttendees/@ViewBag.Neo.Id" method="POST">
            <label for="attendees">Update Attendees:</label>
            <input class="inline" type="number" name="attendees">
            <input type="submit" value="Update">
        </form>
    </div>

    <div class="neoControls">
        <h2>Incompletes: @ViewBag.Neo.Incompletes</h2>

        <form action="../updateIncompletes/@ViewBag.Neo.Id" method="POST">
            <label for="incompletes">Update Incompletes:</label>
            <input class="inline" type="number" name="incompletes">
            <input type="submit" value="Update">
        </form>
    </div>

    <div class="neoControls">
        <h2>No Shows: @ViewBag.Neo.NoShows</h2>

        <form action="../updateNoShows/@ViewBag.Neo.Id" method="POST">
            <label for="noShows">Update No Shows:</label>
            <input class="inline" type="number" name="noShows">
            <input type="submit" value="Update">
        </form>
    </div>

    <div class="neoControls">
        <h2>Invite</h2>

        <form action="../inviteMore/@ViewBag.Neo.Id" method="POST">
            <label for="invite">Update No Shows:</label>
            <select name="Id">
                @foreach (var Employee in ViewBag.NotInvited)
                {
                    <option value="@Employee.Id">@Employee.FirstName @Employee.LastName</option>
                }
            </select>
            <input type="submit" value="Invite">
        </form>
    </div>
</div>

<h2>Invited Completers:</h2>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Alias</th>
            <th>Organization</th>
            <th>Times Attended</th>
            <th>Time Showed Up</th>
            <th>Skipped</th>
            <th>OOF</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var Completer in ViewBag.Neo.Completers)
    {
        <tr>
            <td>@Completer.Employee.FirstName</td>
            <td>@Completer.Employee.LastName</td>
            <td>@Completer.Employee.Alias</td>
            @if(@Completer.Employee.IsCela == 1)
            {
                <td>CELA</td>
            }
            else if(@Completer.Employee.IsCelaVendor == 1)
            {
                <td>Cela Vendor</td>
            }
            else
            {
                <td>Robert Half</td>
            }
            <td>@Completer.Employee.TimesAttended</td>
            <td>@Completer.AttendedTime.ToString("h:mm tt")</td>
            @if(@Completer.Employee.Skipped == 1)
            {
                <td>Yes</td>
            }
            else
            {
                <td>No</td>
            }
            @if(@Completer.Employee.OOF == 1)
            {
                <td>Yes</td>
            }
            else
            {
                <td>No</td>
            }
            <td class="controls">
                <form action="../Attended/@ViewBag.Neo.Id" method="POST">
                    <input type="hidden" name="Id" value="@Completer.Employee.Id">
                    <input type="submit" value="Attended">
                </form>
                <form action="../Skipped/@ViewBag.Neo.Id" method="POST">
                    <input type="hidden" name="Id" value="@Completer.Employee.Id">
                    <input type="submit" value="Skipped">
                </form>
                <form action="../Uninvite/@ViewBag.Neo.Id" method="POST">
                    <input type="hidden" name="Id" value="@Completer.Employee.Id">
                    <input type="submit" value="Uninvite">
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>